.tb-web-gallery{
  padding: 0;
  list-style: none;
}
.tb-web-gallery:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}

.tb-web-gallery.tbwb-grid-1 > *{
  width: 100%;
}
.tb-web-gallery.tbwb-grid-2 > *{
  width: 50%;
}
.tb-web-gallery.tbwb-grid-3 > *{
  width: 33%;
}

/*GALLERY ITEMS*/
.tb-web-gallery .tb-web-gallery-item{
  float: left;
  box-sizing: border-box;
  padding: 3px;
}
.tb-web-gallery .tb-web-gallery-item .tb-web-gallery-inner-wrap{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.tb-web-gallery .tb-web-gallery-item .tb-web-gallery-inner-wrap > *{
  position: absolute;
}


/*IMAGE TYPE*/
.tb-web-gallery .tb-web-gallery-item img:first-of-type{
  max-width: 100%;
  min-width: 100%;
}


/*OVERLAY*/
#tbwg-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
}
body.tbwg-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.tbwg-open #tbwg-overlay {
  display: block;
}
#tbwg-overlay .tbwg-dimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.4);
}
#tbwg-overlay .tbwg-content {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
#tbwg-overlay .tbwg-content > div{
  width: 1000000px; /* Basicly just ifinetly wide */
  left: 0;
  position: relative;
}
#tbwg-overlay .tbwg-content > div:after {
  content: '';
  clear: both;
  width: 100%;
  display: block;
}
#tbwg-overlay .tbwg-content > div.inactive{
  display: none;
}
#tbwg-overlay .tbwg-content div.tb-web-gallery-inner-wrap {
  float: left;
  width: 100vw;
  height: 100%;
  text-align: center;
}
#tbwg-overlay .tbwg-content div.tb-web-gallery-inner-wrap.image-type img {
  max-width: 90%;
  max-height: 90vh;
  margin: 5vh auto;
  display: block;
}
#tbwg-overlay div.tb-web-gallery-inner-wrap.text-type p, #tbwg-overlay div.tb-web-gallery-inner-wrap.text-type span.txt {
  padding: 15px;
  font-size: 3em;
  margin: 20%;
  background: rgba(255,255,255,0.5);
  display: inline-block;
}

span#tbwgClose {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 5;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
span#tbwgPrev, span#tbwgNext {
  position: fixed;
  top: 50%;
  font-size: 40px;
  width: 40px;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
  z-index: 5;
}
span#tbwgNext{
  right: 2%;
}
span#tbwgPrev{
  left: 2%;
}
.no-arrows span#tbwgPrev, .no-arrows span#tbwgNext {
  display: none;
}
